



* { box-sizing: border-box}
.container{
    max-width:100%;
}

body {
    font-size: 1.2rem;
    line-height: 1.45;
    display: block;
    background-color: #3f3f3f;
    color: #d5d5d5d5;
}
.TableContnent {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    text-align:left;
}

.main-content {
    display:flex;
    flex-wrap:wrap;
    text-align: center;
    align-content:center;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
    .TableContnent thead tr {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }
.TableContnent th,
.TableContnent td{
    padding: 12px 15px;
}

.TableContnent tbody tr{
    border-bottom: 1px solid #ffffff;
}
    .TableContnent tbody tr:nth-of-type(even) {
        background-color: #4a4a4a;
    }
    .TableContnent tbody tr:last-of-type {
        /*last item in list*/
    }

.Pgrid {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}


grid-item {
    background-color: #ff0000;
    color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}

.grid-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}
.grid-item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.grid-item.large {
    grid-row: span 3;
    grid-column: span 3;
}
.grid-item.tall {
    grid-row: span 3;
    grid-column: span 2;
}
.grid-item.wide {
    grid-row: span 2;
    grid-column: span 3;
}











